# Web scraping
beautifulsoup4
requests
pandas
numpy
matplotlib
scikit-learn

# NLP, NER
nltk
torch
spacy
transformers
keybert
medspacy

# API
fastapi
uvicorn
pydantic
typer

# CLI tools
fastapi-cli

# Additional dependencies
selenium
flask